@model Cosmetic.Models.MissionCompile
@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="noticesDetail">
    <div class="noticesDetail-wrapper">
        <div class="noticesDetail-content">
            <div class="noticesDetail-content-text">
                @Html.Raw(Model.Value)
            </div>
        </div>
    </div>
</div>
<div class="homeIndex-footer homeIndex-footer-style2">
    <div class="homeIndex-footer_logo"></div>
    <div class="homeIndex-footer_code">粤ICP备16526425号-4@2016 - 汉焱祖方</div>
</div>
