@model Cosmetic.Models.Notice
@{
    ViewBag.Title = "公告";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="noticesDetail">
    <div class="noticesDetail-wrapper">
        <div class="noticesDetail-content">
            <div class="noticesDetail-content-tits">@Html.DisplayFor(model => model.Title)</div>
            <div class="noticesDetail-content-time"><span style="margin-right:10px">@Html.DisplayFor(model => model.Publisher)</span><span>发表于 @Html.DisplayFor(model => model.CreateTime)</span></div>
            <div class="noticesDetail-content-text">@Html.Raw(Model.Content)</div>
        </div>
    </div>
</div>
<div class="homeIndex-footer homeIndex-footer-style2">
    <div class="homeIndex-footer_logo"></div>
    <div class="homeIndex-footer_code">粤ICP备16526425号-4@2016 - 汉焱祖方</div>
</div>
