@model Cosmetic.Models.MissionCompile
@{
    ViewBag.Title = "申请升级";
}

<div class="missionCreate">
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            @Html.Raw(Model.Value)
        </div>
    </div>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input name="dataId" id="dataId" value="@Request["dataId"]" type="hidden" />
                <input type="submit" class="btn btn-default" value="申请升级" />
                @Html.ActionLink("取消申请","Index",null,new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>